page-index {
  background-image: url(../assets/imgs/Paper_BG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

  .theme-btn{
    background: $themePrimary;
    padding: 1.2em;
    color: white;

    .icon,
    label{
      margin: 0 auto;
    }

    .icon{
      width: auto;
      height: 70px;
      margin-bottom: 12px;
    }

    label{
      font-size: 1.5rem;
    }
  }
}
