page-index {
  background-image: url('../assets/imgs/Paper_BG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

  p{
    font-size: 15px;
    text-align:center;
    font-family:Open Sans;
    letter-spacing:1px;
    color:#488aff;
    font-weight: bold;
  }

  img{
    width:30px;
  }

}
